<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azuremiauth20240821124538.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6ff7347e-8f48-450b-a298-5fa718ce32ff/resourcegroups/rg-functionapp/providers/Microsoft.Web/sites/AzureMIAuth20240821124538</ResourceId>
    <UserName>$AzureMIAuth20240821124538</UserName>
    <_SavePWD>true</_SavePWD>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://azuremiauth20240821124538.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>